@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

.headerTop, .footerBottom {
  background: #1F2937;
}

.headerTop {
  padding: 10px;
  gap: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  font-size: 15px;
  color: #e5e7eb;
  gap: 15px;
}

.hl {
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  margin-right: 11em;
  width: 8em;
}

/* Top Area */

.containerTop {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 20px;
}

.HeaderA {
  color: #F9FAF8;
  text-align: left;
  font-size: 48px;
  font-weight: bolder;
  max-width:400px;
}

.pB {
  color: #f8faffd6;
  max-width: 400px;
  margin-bottom: 17px;
}

.imgTop {
  min-width:400px;
  height: 200px;
  background: gray;
}

.slayersCast {
  color: #f8faffd6;
  text-align: center;
}

.Button {
  background-color: #3882F6;
  color: #e5e7eb;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
}

/* Middle 1 */

.headingmid1 {
  text-align: center;
  background-color: #ffff;
  font-size: 30px;
  font-weight: 900;
  padding: 40px;
}

.imgsText {
  max-width: 140px;
}

.info {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 80px;
}

.img {
  border: 5px solid #3882F6;
  height: 130px;
  width: 130px;
  border-radius: 16px;
}

.Pmid1 {
  text-align: center;
}

/* middle 2 */

.containerMid2 {
  padding: 100px;
  background: #E5E7EB;
}

.textMid2 {
  font-size: 32px;
  font-weight: lighter;
  text-align: start;
  font-style: italic;
  max-width: 800px;
  margin: auto;
}

.Signature {
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bolder;
  max-width: 800px;
  margin: auto;
}

/* Bottom */

.containerBottom {
  background-color: #3882F6;
  margin: auto;
  padding: 50px;
  border-radius: 8px;
  max-width: 650px;
  margin-top: 60px;
  margin-bottom: 60px;
  /* Break */
  display: flex;
  align-items: center;
  gap: 100px;
}

.CBH, .CBP {
  margin-left: 10px;
  color: #F9FAF8;
}

#bottomLink {
  color: #F9FAF8;
  background: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  /* Break */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}


/* Footer */

.footerBottom {
  color: #e0e1e3;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}